.form_wrapper{
    width:820px;
    height:618px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top:5rem;
}
.form_wrapper h1{
    font-weight: 500;
}

.form_btn{
    background:#0FC1A7 ;
    width: 167px;
    height: 65px;
    box-shadow: 0px 6px 20px #0FC1A736;
    border-radius:20px;
    border: none;
    color: #fff;
}
.form_btn:hover{
    color: #fff;
  
}
.form-control{
    border:1px solid #E6E6E6 !important ;
}
/* .form-control:focus {
    color: #0000 !important;
    border-color:#0FC1A736 !important ;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(15,193,167,.25) !important;
    background: none !important;
}
.form-select:focus {
    color: #0000 !important;
    border-color:#0FC1A736 !important ;
    box-shadow: 0 0 0 .25rem rgba(15,193,167,.25) !important;
    background: none !important;
} */